div(class="container")
  div(class="navbar")
    div(class="navbar-inner")
      a(href="#", class="brand") DisplayTexts
  div(class="row")
    div(class="span12")
      h1 Just text #{phone_number} to participate!
      hr
      div(id="texts")